body {
	background: black;
}

h3 {
	color: white;
}

.backImage {
	height: calc(100vh - 69px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;

	@media (min-width: 577px) {
		background-position: center center;
		height: calc(100vh - 91px);
	}
}
