.bg-dark {
	background-color: rgba(52, 58, 64, 0.25) !important;
}

.navbar-collapse {
	@media screen and (min-width: 768px) {
		justify-content: flex-end;
	}
}

.navbar-brand img {
	height: auto;
	width: 100px;
	@media screen and (min-width: 768px) {
		width: 150px;
	}
}

.navbar-nav {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	@media screen and (min-width: 768px) {
		width: 600px;
	}
}

.navbar-collapse .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.7);
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
}

.navbar-collapse .navbar-nav .nav-link:hover,
.navbar-collapse .navbar-nav .nav-link.active {
	color: rgba(255, 255, 255, 1);
	border-bottom: 1px solid white;
}
